*{
    box-sizing: border-box;
    margin: 0;
    border: 0;
}
body{
    background: #EBFFB7;
    overflow-x: hidden;
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: sans-serif;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
}
.img-fluid{
    width: 100%;
}
.d-flex{
    display: flex;
}
.container{
    width: 90%;
    margin: auto;
}
header{
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
header ul li{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
header ul li a{
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}
#login, #signup{
    border-radius: 10px;
    padding: 12px 20px;
}
#login{
    border-radius: 10px;
    background: #00545F;
    color: #FFFFFF;
    display: flex;
    padding: 10px;
    /* width: 118px; */
/* height: 48px; */
padding: 12px 20px;
/* text-align: center; */

}
#signup{
    border-radius: 15px;
    color: #00545F;
border: 1px solid #00545F;
}
.center{
    text-align: center;
}
.hero--text, .hero--img{
    flex: 1;
}
.hero--img{
    width: 100%;
}
.hero{
    margin-left: 9%;
    position: relative;
}
.hero h1{
    font-size: 45px;
    font-weight: 700;
    line-height: 77px;
}
.hero p{
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}
#active--user{
    margin-right: 50px;
}
.hero h2{
    font-size: 24px;
    font-weight: 700;
}
.hero div p{
    font-size: 14px;
    font-weight: 400;
}
#hero--btn{
    align-items: center;
}
#get--started{
    background: #00545F;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    margin-right: 20px;
}
#hero--ellipse{
position: absolute;
bottom: 14%;
}
.what--you--stand--to--benefit{
    margin-top: 20px;
}
.what--you--stand--to--benefit h2{
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: cursive;
    font-size: 40px;
    font-weight: 500;
}
.what--you--stand--to--benefit{
    font-size: 24px;
    font-weight: 400;
}
.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.grid .center{
    background: red;
    border-radius: var(--xl, 20px);
background: var(--Color-2, #FFF);
padding: 20px 12px;
box-shadow: 12.347px 12.347px 24.694px 0px rgba(0, 0, 0, 0.05);
}
section.money{
    align-items: center;
    padding: 80px 0;
}
section.money img{
    width: 80%;
}
#money--container{
    position: relative;
    /* overflow-x: hidden; */
}
#money--2{
    position: absolute;
    left: 150px;
    /* left: 40%; */
    top: -110px;
    z-index: -20;
}
section.money a{
    border-radius: 15px;
background: #00545F;
padding: 10px;
display: inline-block;
color: #FFF;
}
footer{
    background: #00545F;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}
footer img{
    width: 20%;
    margin-right: 25px;
}
footer #text{
    width: 30%;
}
div.ul{
    flex: 3;
}
div.ul ul{
    margin-right: 20px;
}
@media screen and (max-width: 700px) {
    .grid{
        grid-template-columns: 1fr;
    }
}